.w-screen{
    background-image: url(https://miniprogramyuansong.oss-cn-hangzhou.aliyuncs.com/static/prizedraw/bg.png?2);
    background-size:100% 100%;
}
.coverbg{
    width: 2000%;
    height: 1200%;
    background-color: #333333;
    display: none;
    opacity: 0.7;
}
.element-card {
    cursor: default;
    text-align: center;
    user-select: none;
    background: url(https://miniprogramyuansong.oss-cn-hangzhou.aliyuncs.com/static/prizedraw/cardbg.png?1) no-repeat;
    background-size:100% 100%;
    .card-prize{
        display: none;
    }
    .card-name {
        top: 60%;
    }
}
.beforeDraw{
    top:53%;
    left:48%;
}
.afterDraw{
    top:50%;
    left:50%;
}

.afterDraw .element-card{
    display: none;
}
.beforeDraw .element-card{
    display: inherit;
}


.afterDraw .coverbg{
    display: inherit;
}
.beforeDraw .coverbg{
    display: none;
}

.lucky-element-card {
    cursor: default;
    text-align: center;
    background: url(https://miniprogramyuansong.oss-cn-hangzhou.aliyuncs.com/static/prizedraw/cardbg.png?1) no-repeat;
    background-size:100% 100%;

    .card-prize{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;

        position: absolute;
        top: 67%;
        left: 0;
        right: 0;
        font-weight: 500;
        color: #333333;
        width: 78%;
        margin:auto;

        white-space:pre-wrap;
        word-break:break-all;
    }
}

.card-headpic-c{
    border-radius:50%; overflow:hidden;
    width:60%;
    margin:auto;
    position: absolute;
    top:7%;
    left: 0;
    right: 0;
    display: flex;
}
.card-name {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#666666;
    background-color: #fff;
    width: 80%;
    margin:auto;
    // -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    // animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    // animation-delay: 0.6s;
}
.card-headpic{
    width:100%; height:100%;object-fit: cover;
}